.Banner{
    z-index: 1;
    color: aliceblue;
}
.message{
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 0%;
    top: -9%;
    margin-top: 10%;
    font-family: 'Varela Round', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    height: fit-content;
}
.sub-text{
    font-size: 1.5rem;

}
.spacer{
    aspect-ratio: 1000/450;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.spacer2{
    aspect-ratio: 900/150;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.layer1{
    background-image: url('../asset//wave-haikei.svg');
}

.layer2{
    background-image: url('../asset//stacked-waves-haikei.svg');
}
.svg-lottie{
    width: 45%;
    position: absolute;
    right: 0%;
    top: 9%;
    height: fit-content;

}
.nav{
    background-image: linear-gradient(to right, #023d5a , #002233);
    height: 10%;
    position: absolute;
    top: 0%;
}