.navbar{
    overflow: hidden;
    width: 100%;
    background-color:rgb(232, 227, 227);
    height: 4rem;
    padding-top: 2%;
    position: sticky;
    z-index: 1;
}
.navbar-nav{
    position: relative;
    right: -68%;
    top: 2%;
}
.sticky {
  background-color: white;
}
.hidden{
    visibility: hidden;
}
.nav-item{
    font-family: 'Ubuntu';
    font-size: .9rem;
    width: fit-content;
    color: rgb(0, 0, 0);
    padding-top: 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nav-link:hover{
    border: 2px solid black;
    border-radius: 5px;
}
.home-body{
    background-color: rgb(255, 255, 255);
    background-image: url('../../../public/background.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
    margin: 3%;
    border-radius: 20px;
    padding: .5%;
}
.logo-image{
    width:10%;
    height: fit-content;
    position: absolute;
    left: 4%;
    top: 0%
}

.banner-image{
    width: 62%;
    position: relative;
    top: -15%;
    right: 8%;
}
.banner-text{
    position: relative;
    left: 19%;
    top: 22%;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Bree Serif';
    width: 90%;
    height: fit-content;
    text-align: left;
    
}

.banner-item{
    max-height: fit-content;
}
.sticky-search-box{
    width: 30%;
    height: 40px ;
    position: fixed;
    z-index: 1;
    left: 17%;
    top: 2%;
    border: 2px solid rgb(255, 255, 255);
    box-shadow:0px 0px 10px 2px rgb(193, 193, 193);
    border-radius: 50px;
    color: black;
    padding-left: 5%;
    overflow-y: auto;
}
.search-box{
    width: 48%;
    height: 50px ;
    position: relative;
    left: -11%;
    top: 0%;
    border: 2px solid rgb(255, 255, 255);
    box-shadow:0px 0px 10px 2px rgb(193, 193, 193);
    border-radius: 50px;
    color: black;
    padding-left: 5%;
    overflow-y: auto;
}
.search-text{
    position: relative;
    width: 100%;
    top: 0;
    left: -27%;
    text-align: center;
    z-index: 1;
    font-size: 115%;
    color: rgb(124, 122, 122);
    font-weight: 500;
}



@media only screen and (min-width: 1280px ) {
    /* For desktop: */

   
}