.footer{
    background-color: rgb(3, 18, 33);
    color: white;
    height: fit-content;
    padding: 3%;
    text-align: left;
    padding-left: 5.5%;
    font-size: small;
}

.footer-input{
    width: 80%;
    margin-left: 13%;
    height: 2.8rem;
    border-radius: 10px;
    padding: 2.5%;
    font-size: medium;
    color: rgb(56, 56, 56) !important;
    border: 1px solid white;
}
.subscribe{
    width: fit-content;
    height: 2.8rem;
    position: absolute;
    right: 6.7%;
    border-radius: 10px;
    background-color: rgb(115, 117, 126);
    color: white;
    font-size:medium;
    font-weight: 600;
    border: 1px solid rgb(4, 22, 39);
    text-align: center;
}

.subscribe:hover{
    background-color: rgb(227, 227, 227);
    color: rgb(83, 83, 83);
}
.divider{
    width: 96%;
    margin-top: 5%;
    background-color: rgb(141, 139, 139);
    height: .2px;
}

.footer-colums-aera{
    margin-top: 5%;
}
.footer-column-header{
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-bottom: 2%;
}

.footer-column-item{
    color: rgb(185, 176, 176) !important;
    font-weight: 400;
    margin-bottom: 3%;
}
.brand-name{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-family: 'Varela Round';
    margin-bottom: 2%;
}

.social-media-icon{
    color: white !important;
}

.social-media-icon:hover{
    color: rgb(81, 81, 212) !important;
}
.brand-name-secondary{
    font-weight: 600;
    font-size: medium;
}

.brand-name-primary{
    font-size: xxx-large;
    font-weight: 700;
    font-family: 'Patua One';
}